/* applies to ALL widths */

.header {
  padding: 30px 0 20px 0;
  background-image: url(../images/j_still.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: center;

}
.logo {
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 10px;
  z-index: 100;
}
.nav {
  text-align: right;



}
.nav a{
  color: white;
  text-decoration: none;
  margin-right: 5%;
  font-weight: bold;
}
.nav a:hover {
  color: orange;
}
div a.primary {
  color: #D2A727;;
}


h1 {
  font-size: 20px;
  color: white;
  margin-top: 300px;
  margin-right: 60%;
  margin-left: 12%;
  background-color: rgba(20,21,100,.5);
  background-size: 50%;


}

hr {
  width: 40%;
  align: left;
  margin-left: 0;
  margin-top: -15px;
}

h2{
  font-size: 7rem;
  color: white;
  font-weight: bold;

}
.first {
  margin-left: 9%;
}
.second{
  margin-left: 17%;
}
.third{
  margin-left: 25%
}
/* later
.section_two{
background-image: url(../images/skyline.png);
background-repeat: no-repeat;
background-size: cover;
margin-top:0%;
padding-top: 2%;
opacity: .7;


}
*/
h3{
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;

}


p {
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  font-size: 20px;

}




/*figure out later
#color-overlay {
  position: absolute;

 width: 100%;
 height: 100%;

 background-color: rgba(20,21,100,.9);;
 z-index: 3;
}

.container {
  position: relative;
}
*/


.card {

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 5%;

  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card img {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 0px;
  border-radius: 10px;
  background-color: black;
}

.contain {
  object-fit: scale-down;
}
.slideshow {
  width: 100%;
  height: 250px;
  background-color: grey;
  text-align: center;
  padding-top: 10%;
  font-size: 30px;
  font-weight: bold;
}
h4{
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #D2A727;
  margin-top: -6px;

}
article {
  padding-left: 4%;
  padding-right: 5%;
  padding-bottom: 4%;
  margin-top: -6%;
  background-color: white;
  font-size: 16px;
  border-bottom: 1px solid white;

}
.section_three{
  background-color: #BDBDBD;
  padding-top: 5%;
}
.button {
  background-color: #D2A727;
  border-radius: 10px;
  margin-left: 43%;
  margin-top: 4%;
  margin-bottom: 4%;
}
section  {
  text-align:center;
}
footer {
  background-color:#151464;
  color: white;
  height: 150px;
}
/*responsivness*/

/* medium display only */

@media (min-width: 500px) and (max-width:768px) {

  .first, .second, .third {
    font-size: 50px;
  }






}

/* small display only */

@media (max-width:499px) {
  .first, .second, .third {
    font-size: 45px;
  }


}
